/**
 * Base style to affect HTML elements on a general scale.
 */

@bgColorHtml: #fffdd0;
@bgColorNavbar: #444;
@bgColorBody: #fff;
@colorBody: #333;
@colorNav: #fff;
@colorAccent: #444;

html {
    overflow-y: scroll;
    box-sizing: border-box;
    background-color: @bgColorHtml;
}

body {
    margin: 0;
    padding: 0;
    color: @colorBody;
    background-color: @bgColorBody;
}

img {
    max-width: 100%;
}

.next-previous {
    clear: both;
}

.left,
.previous {
    float: left;
}

.right,
.next {
    float: right;
}

.article,
.blog-list-item {
	.clearfix();
}
