/**
 * Layout for responsive style through media queries.
 */

@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .rm-desktop {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .site-logo-text-icon {
        display: none;
    }
    
    .region-main {
        width: 100% !important;
    }

    .wrap-sidebar {
        display: none;
    }
    
    .footer-column-wrapper {
        display: inline-block;
    }
    
    .footer-column-x {
        border-right: none;
    }
}
